@import "_bootstrap.less";
@import "_variables.less";
@import "plugins/font-awesome/font-awesome.less";

/****************************************
* Out StyleSeets
****************************************/

//  div.main settings 

.main {
  .make-sm-column(@main-sm-columns);
  .sidebar-primary & {
    .make-sm-column(@main-sm-columns - @sidebar-sm-columns);
  }
}

.main {
  position: relative;
  min-height: 1px;
}
@media (min-width: 768px) {
  .main {
    float: left;
    width: 100%;
  }
}
.sidebar-primary .main {
  position: relative;
  min-height: 1px;
}
@media (min-width: 768px) {
  .sidebar-primary .main {
    float: left;
    width: 66.66666667%;
  }
}
.sidebar {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .sidebar {
    float: left;
    width: 33.33333333%;
  }
}

// Sidebar

.sidebar {
  .make-sm-column(@sidebar-sm-columns);
}

// comments 

.comment-list {
  &:extend(.list-unstyled all);
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  &:extend(.form-group all);
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  &:extend(.form-control all);
}
.comment-form input[type="submit"] {
  &:extend(.btn all);
  &:extend(.btn-primary all);
}

// Captions
.wp-caption {
  &:extend(.thumbnail all);
}

.wp-caption-text {
  &:extend(.thumbnail .caption all);
}

// Gallery shortcode
.gallery-row {
  padding: (@line-height-computed / 2) 0;
}

// WordPress Generated Classes
// http://codex.wordpress.org/CSS#WordPress_Generated_Classes

.aligncenter {
  display: block;
  margin: (@line-height-computed / 2) auto;
}
.alignleft,
.alignright {
  margin-bottom: (@line-height-computed / 2);
}
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
}

@media (min-width: @screen-sm-min) {
  // Only float images if not on an extra small device like smartphones
  .alignleft {
    float: left;
    margin-right: (@line-height-computed / 2);
  }
  .alignright {
    float: right;
    margin-left: (@line-height-computed / 2);
  }
}

// Main settings 

// Variables

@default-font:      'Open Sans', sans-serif;
@menu-bg:           #23282b;
@blue:              #1c89c5;
@green:             #8dc63f;
@footer-bg:         #23282b;

/* General settings */

body {
    color: #333;
    font-family: @default-font;
    font-size: 14px;
    
    &.page-template-default {
        
        .container {
            &.page {
                font-size: 14px;
                
                h4 {
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                }
        
                ul {
                    list-style: none;
                    padding: 20;
                    margin: 15px 0;

                    li {
                        font-weight: bold;
                        margin-bottom: 5px;

                        &:before {
                            content: "";
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url(../img/list-carret.png) no-repeat;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                }
                
                .gallery-slick {
                    .slide-item {          
                        img {
                            width: auto;
                            max-width: none;
                        }
                    }
                }
                
            }
        } 
    }

    &.servicii {
        h4  {
            font-weight: bold;
            font-size: 16px;
            margin: 30px 0;
        }
        
        p {
            text-align: justify;
        }
    }

}

.separator {
    width: 100%;
    height: 40px;
    background: url(../img/separator.png) no-repeat 50% 50%;
    background-size: inherit;
    margin: 20px 0;
}

.main {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.wrap {
    background: #fff;
}

.container-fluid {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.container {
    &.page {
        margin-top: 50px;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

        .gallery-slick {
            outline: 0;
            
            .slide-item, .gallery-item {
                width: 170px;
                height: 170px;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                }
                
                &:before {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.6);
                    position: absolute;
                }
                
                &:hover {
                    &:before {
                        background: url(../img/gallery_home_hover.png) no-repeat 50% 50%;
                        width: 100%;
                        height: 45px;
                        bottom: 0px;
                        background-size: cover;
                    }
                }
            }
            
            .slick-prev , .slick-next {
                position: absolute;
                top: -35px;
                right: 0;
                border: 0;
                display: block;
                width: 9px;
                height: 14px;
                outline: 0;
            }
            
            .slick-prev {
                background: url(../img/prev-arrow.png) no-repeat;
                right: 40px;
            }
            
            .slick-next {
                background: url(../img/next-arrow.png) no-repeat;
                right: 15px;
            }
        }

hr {
    width: 100%;
    height: 40px;
    background: url(../img/separator.png) no-repeat 50% 50%;
    background-size: inherit;
    margin: 30px 0;
    border-top: 0;
    display: block;
}

.hidden-gallery {
    display: none;
}

.breadcrumbs {
    font-size: 12px;
    margin-top: 30px;
    
    i {
        font-size: 12px;
        margin: 0 5px;
    }
    
    span {  
        a {
            color: #000;
            
            span {
                color: #000;
            }
        }
        
        &:last-child {
            color: #1c89c5;
        }
    }
}

/* Header */

header {
    // Logo
    .logo {
        text-align: center;
        width: 150px;
        margin: 20px auto;
        
        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    // Navigation bar
    
    @media screen and (min-width: 1024px) {
        .navbar-default {
            background: @menu-bg;
            margin-bottom: 0px;
            border: 0;
            height: 60px;

            .navbar-collapse {
                text-align: center;
                ul {
                    &.navbar-nav {
                        float: none;
                        display: inline-block;
                        height: 60px;

                        li {
                            border-right: 1px solid #393e41;

                            &.current-menu-item {
                                a {
                                    background: @blue;
                                    color: #fff;
                                    padding-bottom: 5px;
                                    
                                    i {
                                        display: block;
                                        margin-top: -20px;
                                        margin-bottom: 10px;
                                        font-size: 25px;
                                    }
                                }

                                &:after {
                                    content: "";
                                    background: url(../img/menu-after.png) no-repeat;
                                    width: 100%;
                                    height: 21px;
                                    display: block;
                                    background-size: contain;
                                    position: absolute;
                                    bottom: -20px;
                                }

                                &:before {
                                    content: "";
                                    background: url(../img/menu-before.png) no-repeat;
                                    width: 105%;
                                    height: 15px;
                                    display: block;
                                    background-size: contain;
                                    position: absolute;
                                    top: -8px;
                                }
                            }

                            a {
                                color: #fff;
                                font-size: 15px;
                                text-transform: uppercase;
                                display: inline-block;
                                min-width: 145px;
                                
                                padding-top: 20px;
                                padding-bottom: 20px;

                                &:hover {
                                    background: @blue;
                                }
                                
                                i {
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.page-heading {
    width: 100%;
    height: 105px;
    position: relative;
    background-size: cover !important;
    
    .page-title {
        text-align: center;
        z-index: 1;
        color: @menu-bg;
        position: absolute;
        right: 0;
        left: 0;
        top: 45px;
        margin-left: auto;
        margin-right: auto;
        
        h1 {
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}

// Sections

section {
    &.home-slider {
        max-height: 490px;
        overflow: hidden;
        position: relative;
        text-align: center;
        
        .item {
            height: 490px;
        }
        
        .slider-text {
            position: absolute;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
            top: 40%;
            
            p {
                color: #fff;
                font-size: 26px;
                background: rgba(0, 0, 0, 0.8);
                padding: 5px;
                text-transform: uppercase;
                margin-bottom: 0px;
                display: table;
                margin-top: 5px;
                text-align: center;
                margin: 0 auto;
            }
        }
        .owl-carousel {
            z-index: auto;
            
            .owl-dots {
                display: block;
                position: absolute;
                bottom: 55px;
                text-align: center;
                z-index: 999;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                width: 90px;

                .owl-dot {
                    display: block;
                    width: 23px;
                    height: 23px;
                    float: left;
                    margin-right: 10px;
                    background: url(../img/slider-inactive.png) no-repeat;
                    
                    &.active {
                        background: url(../img/slider-active.png) no-repeat;
                    }
                    
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    
    &.welcome {
        .welcome_message {
            text-align: center;
            
            h2 {
                font-size: 26px;
                font-weight: bold;
                text-transform: uppercase;
            }
        }
        
        .welcome_content {
            margin-top: 50px;
            
            span {
                &.title {
                    font-weight: bold;
                    font-size: 16px;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    display: block;
                }
            }
            
            .content {
                p {
                    text-align: justify;
                }
            }
        }
    }
    
    .welcome_gallery {
        margin-top: 50px;
        span {
            &.title {
                font-weight: bold;
                font-size: 16px;
                text-transform: uppercase;
                margin-bottom: 15px;
                display: block;
            }
        }
        
        .owl-home-carousel {
            .item {
                height: 178px;
                position: relative;
                
                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: rgba(255, 255, 255, 0.7); 
                }
                
                &:hover {
                    &:after {
                        display: none;
                    }
                    
                    &:before {
                        content: "";
                        background: url(../img/gallery_home_hover.png) no-repeat;
                        background-size: cover;
                        width: 100%;
                        height: 40px;
                        position: absolute;
                        bottom: 0;
                    }
                }
            }
            
            .owl-prev, .owl-next {
                position: absolute;
                top: -25px;
                right: 0;
            }
            
            .owl-prev {
                right: 30px;
                span {
                    &.prev {
                        background: url(../img/prev-arrow.png) no-repeat;
                        display: block;
                        width: 9px;
                        height: 14px;
                    }
                }
            }
            
            .owl-next {
                span {
                    &.next {
                        background: url(../img/next-arrow.png) no-repeat;
                        display: block;
                        width: 9px;
                        height: 14px;
                    }
                }
            }
        }
        
    }
    
    .section_heading {
        position: relative;
        height: 200px;
        
        &:after {
            content: "";
            width: 100%;
            height: 200px;
            background: url(../img/heading-overlay.png) no-repeat 50% 50%;
            background-size: cover;
            position: absolute;
        }
    }
    
    &.our_recommend {
        margin-top: 50px;
        
        .section-content {
            position: absolute;
            z-index: 999;
            text-align: center;
            width: 100%;
            margin-top: 35px;
            
            span {
                &.title {
                    color: @green;
                    font-weight: bold;
                    font-style: italic;
                }
            }
            
            p {
                &.short_desc {
                    margin-top: 45px;
                    color: #fff;
                    
                    span {
                        &.project_title {
                            font-size: 26px;
                            font-weight: bold;
                            text-transform: uppercase;
                            display: block;
                        }
                    }
                }
            }
        }
        
        .project_content {
            margin-top: 40px;
            overflow: hidden;
            
            .project_image {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            
            .project_entry {
                font-size: 13px;
                
                ul {
                    list-style: none;
                    padding: 0;
                    
                    li {
                        font-weight: bold;
                        margin-bottom: 5px;
                        
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url(../img/list-carret.png) no-repeat;
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
    
    &.services {
        text-align: center;
        margin-bottom: 30px;
        
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 26px;
        }
        
        .service-box {
            margin-top: 20px;
            
            span {
                display: block;
                
                &.title {
                    font-size: 16px;
                    font-weight: bold;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    
                }
            }
            
            p {
                text-align: justify;
            }
            
            .image {
                margin: 15px 0;
                width: 170px;
                height: 170px;
                display: block;
                margin: 15px auto;
            }
            
            &.first {
                .image {
                    background: url(../img/1_normal.png) no-repeat;
                }
                
                &:hover {
                    .image {
                        background: url(../img/1_hover.png) no-repeat;
                    }
                }
            }
            
            &.second {
                .image {
                    background: url(../img/2_normal.png) no-repeat;
                }
                
                &:hover {
                    .image {
                        background: url(../img/2_hover.png) no-repeat;
                    }
                }
            }
            
            &.third {
                .image {
                    background: url(../img/3_normal.png) no-repeat;
                }
                
                &:hover {
                    .image {
                        background: url(../img/3_hover.png) no-repeat;
                    }
                }
            }
        }
    }
    
    &.apartments {
        margin-bottom: 30px;
        
        h2 {
            font-size: 16px;
            font-weight: bold;
            text-transform: uppercase;
        }
        
        .ap_box {
            width: 170px;
            height: 170px;
            position: relative;
            
            span {
                position: absolute;
                display: block;
                color: #fff;
                text-align: center;
                text-transform: uppercase;
                
                &.ribbon {
                    text-align: center;
                    display: block;
                    padding-top: 15px;
                    padding-left: 15px;
                    font-size: 11px;
                    font-weight: bold;
                    
                    &.sell {
                        width: 108px;
                        height: 45px;
                        background: url(../img/ribbon_vandut.png) no-repeat;
                        right: -4px;
                        top: 15px;
                    }
                    
                    &.offer {
                        width: 124px;
                        height: 45px;
                        background: url(../img/ribbon_de_vanzare.png) no-repeat;
                        right: 0;
                        top: 15px;
                    }
                }
                
                &.rooms_number {
                    display: block;
                    width: 100%;
                    height: 60px;
                    background: url(../img/ap_number.png) no-repeat;
                    background-size: cover;
                    bottom: 0;
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 60px;
                }
            }
        }
        
        a {
            &.open-gallery {
                display: block;
                overflow: hidden;
                height: 100%;
                width: 100%;
            }
            
            &.apartment_title {
                color: #1c89c5;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                padding: 10px 0;
                display: block;
                
                &:hover, &:focus {
                    text-decoration: none;
                }
            }
        }
        
        .project-box {
            overflow: visible;
        }
        
        .apartment_image {
            height: 270px;
            position: relative;
            
            &:hover {
                &:after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: url(../img/apartments_bg_hover.png) no-repeat 50% 50%;
                    display: block;
                    width: 100%;
                    height: 40px;
                }
            }
        }
        
        .project-content {
            margin-bottom: 20px;
            text-align: justify;
        }
    }
    
    &.apartments-browse {
        .apartments-browse-cover {
            position: relative;
            
            .cover-content {
                position: absolute;
                right: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                top: 30%;
                
                h1, p {
                    color: #fff;
                    background: rgba(0, 0, 0, 0.8);
                    padding: 5px;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                    display: table;
                    margin-top: 5px;
                    text-align: center;
                    text-transform: uppercase;
                    margin: 0 auto;
                }
                
                h1, h3 {
                    font-size: 48px;
                    font-weight: bold;
                }
                
                p {
                    font-size: 25px;
                    font-weight: 300;
                }
                
                h3 {
                    background: rgba(28, 137, 197, 0.8);
                    color: #fff;
                    display: table;
                    padding: 5px 15px;
                    text-align: center;
                    text-transform: lowercase;
                    margin: 0 auto;
                }
            }
        }
    }
    
    &.apartments-entry {
        margin-top: 30px;
        
        article {
            .entry-content {
                h4 {
                    font-weight: bold;
                    margin-bottom: 10px;
                }
                
                ul {
                    margin-top: 20px;
                    list-style: none;
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    
                    li {
                        margin-bottom: 10px;
                        
                        &:before {
                            content: "";
                            display: inline-block;
                            width: 14px;
                            height: 14px;
                            background: url(../img/list-carret.png) no-repeat;
                            vertical-align: middle;
                            margin-right: 20px
                        }
                    }
                }
            }
        }
    }
    
    &.testimonials {
        text-align: center;
        margin-bottom: 30px;
        
        h2 {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 26px;
        }
        
        .testimonial {
            .image {
                display: block;
                width: 170px;
                height: 170px;
                margin: 0 auto;
                border-radius: 200px;
                border-radius: 100%;
                overflow: hidden;
            }
            
            .title {
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                display: block;
                margin: 15px 0;
            }
            
            p {
                &.content {
                    text-align: justify;
                    
                    small {
                        display: block;
                        font-size: 14px;
                        font-weight: 300;
                        font-style: italic;
                    }
                }
            }
        }
    }
    
    &.project-box {
        margin-bottom: 30px;
        overflow: hidden;
        
        h2 {
            &.project-title {
                font-size: 26px;
                font-weight: bold;
                text-transform: uppercase;
                margin: 20px 0;
            }
        }
        
        h4 {
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
        }
        
        .project-header {
            height: 240px;
            max-height: 240px;
            background-size: cover;
            color: #fff;
            position: relative;
            margin-bottom: 30px;
            
            .ribbon {
                position: absolute;
                right: 0;
                top: 15px;
                padding-top: 20px;
                padding-left: 35px;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                width: 174px;
                height: 64px;
                
                &.dev {
                    background: url(../img/ribbon_sell_mare.png) no-repeat;
                }
                
                &.fin {
                    background: url(../img/ribbon_offer_mare.png) no-repeat;
                    padding-left: 55px;
                }
            }
            
            span {
                &.location {
                    background: rgba(0, 0, 0, 0.8);
                    color: #fff;
                    font-size: 18px;
                    font-weight: 300;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 10px 25px;
                }
            }
        }
        
        .project-content {
            .nrap {
                width: 100%;
                height: 165px;
                background: #1c89c5;
                text-align: center;
                padding-top: 35px;
                font-size: 40px;
                font-weight: 300;
                color: #fff;
                margin-bottom: 15px;
                position: relative;
                
                
                &:after {
                    content: "";
                    width: 100%;
                    height: 30px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    background: url(../img/nrap_after.png) no-repeat;
                    background-size: cover;
                }
                
                span {
                    small {
                        display: block;
                        font-size: 16px;
                        text-transform: lowercase;
                    }
                }
            }
            
            ul {
                list-style: none;
                padding: 25px 40px;
                columns: 2;
                -webkit-columns: 2;
                -moz-columns: 2;
                
                li {
                    margin-bottom: 5px;
                    
                    &:before {
                        content: "";
                        display: inline-block;
                        width: 14px;
                        height: 14px;
                        background: url(../img/list-carret.png) no-repeat;
                        vertical-align: middle;
                        margin-right: 10px; 
                    }
                }
            }    
        }
        
        .project-gallery {
            .gallery-slick-projects {
                .hentry {
                    position: relative;
                    cursor: pointer;
                    
                    &:before {
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: block;
                        background: rgba(255, 255, 255, 0.6);
                    }
                    
                    &:after {
                        content: "";
                    }
                    
                    &:hover {
                        &:before {
                            display: none;
                        }
                        
                        &:after {
                            content: "";
                            background: url(../img/gallery_home_hover.png) no-repeat 50% 50%;
                            background-size: cover;
                            position: absolute;
                            bottom: 0px;
                            left: 0;
                            width: 100%;
                            height: 45px;
                            display: block;
                        }
                    }
                }
            }
            
            .owl-prev, .owl-next {
                position: absolute;
                top: -25px;
                right: 0;
            }
            
            .owl-prev {
                right: 30px;
                span {
                    &.prev {
                        background: url(../img/prev-arrow.png) no-repeat;
                        display: block;
                        width: 9px;
                        height: 14px;
                    }
                }
            }
            
            .owl-next {
                span {
                    &.next {
                        background: url(../img/next-arrow.png) no-repeat;
                        display: block;
                        width: 9px;
                        height: 14px;
                    }
                }
            }

        }
    }
    
    &.contact-page {
        margin-top: 20px;
        
        .contact-col {
            span {
                &.title {
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    display: block;
                    margin: 15px 0;
                    
                    &.dates {
                        text-align: center;
                    }
                    
                }
            }
            
            form {
                &.custom-form {
                    label {
                        font-size: 13px;
                        font-weight: 400;
                        margin-top: 5px;
                    }
                    
                    input, textarea {
                        width: 100%;
                    }
                    
                    input {
                        height: 30px;
                    
                        &.btn {
                            &.btn-default {
                                border: 0;
                                background: #fff;
                                color: #8dc63f;
                                font-weight: bold;
                                text-transform: uppercase;
                                text-align: right;
                                font-size: 16px;
                                outline: 0;
                            }
                        }
                    }
                }
            }
            
            .contact-dates {
                span {
                    display: block;
                    text-align: center;
                    
                    &:first-child {
                        margin: 30px 0;
                    }
                    
                    &.small_logo {
                        display: block;
                        margin: 20px 0;
                        
                        img {
                            max-width: 100%;
                            height: auto;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

footer {
    &.content-info {
        background: @footer-bg;
        min-height: 280px;
        margin-top: 100px;
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 79px;
            background: url(../img/footer-round.png) no-repeat 50% 50%;
            position: absolute;
            top: -76px;
        }
        
        .widget {
            margin-top: 35px;
            margin-bottom: 55px;
            font-size: 13px;
            color: #fff;
            font-weight: 300;
            
            h3 {
                &.title {
                    font-size: 14px;
                    color: @green;
                    text-transform: uppercase;
                    margin-bottom: 35px;
                }
            }
            
            p {
                &.content {
                    text-align: justify;
                    
                    a {
                        &.more {
                            text-transform: uppercase;
                            display: block;
                            margin: 15px 0;
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                }
            }
            
            &.about-us {
            
                ul {
                    list-style: none;
                    padding: 0;

                    li {
                        margin-bottom: 20px;
                        display: -webkit-flex;
                        display: -moz-flex;
                        display: flex;
                        
                        i {
                            margin-right: 10px;
                            margin-top: 3px;
                        }
                    }
                }
            }
            
            &.newsletter {
                form {
                    margin-bottom: 25px;
                    
                    input {
                        border-radius: 0;
                        border: 1px solid #c4c4c4;
                        
                        &::-webkit-input-placeholder {
                           font-style: italic;
                            color: #4b4b4d;
                        }

                        &:-moz-placeholder { /* Firefox 18- */
                           font-style: italic;
                            color: #4b4b4d;
                        }

                        &::-moz-placeholder {  /* Firefox 19+ */
                           font-style: italic;
                            color: #4b4b4d;
                        }

                        &:-ms-input-placeholder {  
                           font-style: italic;
                            color: #4b4b4d;
                        }
                    }
                    
                    button {
                        border-radius: 0;
                        background: @green;
                        color: #fff;
                        text-align: center;
                    }
                }
                
                span {
                    display: block;
                    margin-bottom: 5px;
                }
            }
            
            &.info {
                ul {
                    list-style: none;
                    padding: 0;
                    
                    li {
                        margin-bottom: 15px;
                        
                        a {
                            color: #fff;
                            text-decoration: none;
                            
                            &:hover , &:focus {
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.subfooter {
    text-align: center;
    color: #fff;
    font-size: 12px;
    
    &.first {
        width: 100%;
        height: 60px;
        background: #292e31;
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 77px;
            position: absolute;
            background: url(../img/subfooter-first.png) no-repeat 50% 50%;
            top: -77px;
        }
        
        span  {
            &.copyright {
                position: absolute;
                right: 0;
                left: 0;
                margin-left: auto;
                margin-right: auto;
                line-height: 2.5;
                top: -50px;
            }
        }
    }
    
    &.second {
        width: 100%;
        height: 80px;
        background: #131414;
        padding-top: 20px;
        position: relative;
        
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 37px;
            position: absolute;
            background: url(../img/subfooter-second.png) no-repeat 50% 50%;
            top: -36px;
            z-index: 0;
        }
    }
}

.main {
    min-height: 500px;
    
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 65px;
        background: url(../img/slider-after.png) 50% no-repeat;
        position: absolute;
        top: -65px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

    }
}

// Normal CSS plugins

/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -moz-box-sizing: border-box;
         box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
    border: 5px solid transparent;
    border-bottom: none;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none; 
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

/* Preload images */
body:after {
  content: url(../img/close.png) url(../img/loading.gif) url(../img/prev.png) url(../img/next.png);
  display: none;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-container {
  padding: 4px;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../img/loading.gif) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

@import "_responsive.less";
