// Mobile

@media screen and (max-width: 767px){
    body {
        &.page-template-default {
            .container {
                &.page {
                    ul {
                        padding: 0px;
                        
                        li {
                            display: flex;
                            display: inline-flex;
                            display: -moz-flex;
                            
                            &:before {
                                width: 19px;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }
    .navbar-default {
        background-color: @menu-bg;
        margin-bottom: 0px;
        border: none;
        border-color: none;
    
        .navbar-toggle {
            &:hover, &:focus {
                background: @blue;
                
                span {
                    &.icon-bar {
                        background: #fff;
                    }
                }
            }
        }
            ul {
                &.navbar-nav {
                    margin-top: 0px;

                    li {
                        &.current-menu-item{
                            a {
                                color: #fff;
                                background: @blue;

                                &:hover {
                                    background: @blue; 
                                    color: #fff;
                                }
                            }
                        }

                        a {
                            color: #fff; 

                            &:hover {
                                background: @blue;
                                color: #fff;
                            }
                        }
                    }
                }
            }
    }
    
    // sections
    
    section {
        &.home-slider {
            .slider-text {
                top: 20%;
            }
        }
        
        &.welcome {
            .welcome_content {
                margin-top: 0;
            }
        }
        
        &.our_recommend {
            .section-content {
                p {
                    &.short_desc {
                        margin-top: 20px;
                        
                        span {
                            &.project_title {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            
            .project_content {
                .project_entry {
                    margin-top: 15px;
                }
            }
        }
        
        &.apartments {
            .ap_box {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        
        &.project-box {
            .project-header {
                span {
                    &.location {
                        width: 100%;
                        text-align: center;
                        font-size: 16px;
                    }
                }
            }
            
            .project-content {
                ul {
                    columns: 1;
                    -webkit-columns: 1;
                    -moz-columns: 1;
                    padding: 0;
                    
                    li {
                        display: flex;
                        display: -webkit-flex;
                        display: -moz-flex;
                        
                        &:before {
                            margin-top: 5px;
                        }
                    }
                }
            }
            
            .project-gallery {
                .gallery-slick-projects {
                    .hentry {
                        &:before {
                            background: none;
                        }
                        
                        &:hover {
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        
        &.apartments-browse {
            .apartments-browse-cover {
                .cover-content {
                    h1, h3 {
                        font-size: 25px;
                    }
                }
            }
        }
        
        &.apartments-entry {
            article {
                .entry-content {
                    ul {
                        columns: 1;
                        -webkit-columns: 1;
                        -moz-columns: 1;
                        padding: 0;
                    
                        li {
                            display: flex;
                            display: -webkit-flex;
                            display: -moz-flex;

                            &:before {
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
        
        .section_heading {
            height: 315px;
            
            &:after {
                height: 100%;
            }
        }
        
        .welcome_gallery {
            .owl-home-carousel {
                .item {
                    &:after {
                        display: none;
                    }
                    
                    &:hover {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        
        .separator {
            margin: 0 auto;
            width: 90%;
        }
    }
    
    .page-heading {
        .page-title {
            span {
                &.subtitle {
                    display: block;
                    width: 90%;
                    margin: 15px auto;
                }
            }
        }
    }
    
    .breadcrumbs {
        margin-top: 50px;
    }
    
    .container {
        &.page {
            margin-top: 20px;
        }
    }
    
    footer {
        &.content-info {
            min-height: 800px;
            
            .widget {
                margin-bottom: 10px;
                margin-top: 10px;
                
                h3 {
                    &.title {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
    .subfooter {
        &.second {
            height: 100%;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        .navbar-default { 
            background-color: @menu-bg;
            margin-bottom: 0px;
            border: none;
            border-color: none;
            
            .navbar-toggle {
                &:hover, &:focus {
                    background: @blue;

                    span {
                        &.icon-bar {
                            background: #fff;
                        }
                    }
                }
            }
            
            .navbar-collapse {
                ul {
                    &.navbar-nav {
                        margin-top: 0px;
                        li {
                            &.current-menu-item{
                                a {
                                    color: #fff;
                                    background: @blue;

                                    &:hover {
                                        background: @blue; 
                                        color: #fff;
                                    }
                                }
                            }
                            a {
                                min-width: 120px !important;
                                color: #fff; 

                                &:hover {
                                    background: @blue;
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    section {
        &.home-slider {
            .owl-carousel {
                .owl-dots {
                    bottom: 20px;
                }
            }
        }
        
        .welcome_gallery {
            .owl-home-carousel {
                .item {
                    &:after {
                        display: none;
                    }
                    
                    &:hover {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
        
        &.our_recommend {
            .section-content {
                p {
                    &.short_desc {
                        margin-top: 20px;
                        
                        span {
                            &.project_title {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
            
            .project_content {
                .project_entry {
                    margin-top: 15px;
                }
            }
        }
        
        &.apartments {
            .ap_box {
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    
    footer {
        &.content-info {
            min-height: 400px;
            height: 100%;
            
            .widget {
                margin-bottom: 10px;
                margin-top: 10px;
                
                h3 {
                    &.title {
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    
    .subfooter {
        &.second {
            height: 100%;
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1190px) {
    header {
        .navbar-default {
            .navbar-collapse {
                ul {
                    &.navbar-nav {
                        li {
                            a {
                                min-width: 120px !important;
                            }
                        }
                    }
                }
            }
        }
    }
    
    section {
        &.apartments {
            .ap_box {
                margin-bottom: 10px;
            }
        }
    }
}